## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [75]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [76]:
# 1) Seu código aqui

qtd_pa_mat = df_mat / 24
qtd_pa_por = df_por / 18
qtd_pa_geo = df_geo / 8
qtd_pa_ing = df_ing / 8
qtd_pa_his = df_his / 8
qtd_pa_fis = df_fis / 12
qtd_pa_qui = df_qui / 12

In [77]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [78]:
# 3) Seu código aqui
porcentagem = (total/90) * 100
porcentagem

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [79]:
# 4) Seu código aqui
alunos_45 = total[porcentagem > 45]
alunos_45

alunos_45.count()

Qt_acertos    47
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [112]:
# seu código aqui
#1.

dados = {'df_mat': df_mat, 'df_por': df_por, 'df_geo': df_geo, 'df_ing': df_ing, 'df_his': df_his, 'df_fis':df_fis, 'df_qui':df_qui}

df_total = pd.concat(dados, axis = 1)
df_total



df_desqualificados = df_total[(df_mat['Qt_acertos'] == 0) | (df_fis['Qt_acertos'] == 0) | (df_qui['Qt_acertos'] == 0)]
df_desqualificados

,df_mat,df_por,df_geo,df_ing,df_his,df_fis,df_qui
,Qt_acertos,Qt_acertos,Qt_acertos,Qt_acertos,Qt_acertos,Qt_acertos,Qt_acertos
3,10,7,3,4,0,0,8
6,6,0,7,7,5,0,4
10,10,8,3,2,1,7,0
12,20,8,3,7,1,0,3
14,7,11,1,7,1,4,0
20,23,11,6,5,6,2,0
25,0,4,7,4,0,4,8
26,11,14,6,2,7,0,0
27,21,13,1,5,7,3,0
33,14,8,0,5,6,6,0
35,11,14,6,3,3,0,11
49,8,1,1,0,1,0,8
56,7,6,7,5,6,0,8
65,1,8,2,4,3,0,6
66,5,4,3,6,3,0,10
72,11,16,3,4,7,0,9
73,1,16,2,4,3,0,11
74,9,11,0,7,5,7,0
84,15,1,0,5,1,0,4
89,23,11,7,7,6,9,0
92,14,10,1,6,1,8,0
94,0,5,2,6,1,3,8
98,0,10,3,1,5,10,11

In [113]:
#2.

df_desqualificados.count()

df_mat  Qt_acertos    23
df_por  Qt_acertos    23
df_geo  Qt_acertos    23
df_ing  Qt_acertos    23
df_his  Qt_acertos    23
df_fis  Qt_acertos    23
df_qui  Qt_acertos    23
dtype: int64

In [118]:
#3.

nota_his = df_desqualificados['df_his','Qt_acertos']
nota_geo = df_desqualificados['df_geo','Qt_acertos']


print("Media em historia:", round(nota_his.mean(),2) )

print("Media em geografia:", round(nota_geo.mean(),2))

Media em historia: 3.43
Media em geografia: 3.22

In [119]:
#4.

df_segunda_etapa = alunos_45[ (df_mat['Qt_acertos'] !=0) & (df_fis['Qt_acertos'] !=0) & (df_qui['Qt_acertos'] !=0) ]
df_segunda_etapa.count()

Qt_acertos    41
dtype: int64

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [120]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-e01ebac8-e78d-4f97-8cd7-8db01ad17b6b.c000.csv'
df = pd.read_csv(arquivo, sep=';')

In [121]:
df.head(n=5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,c7c5afcf-1894-4d02-a580-1b8677b762cf-i0b0,8fc374fd54c89a12c9461ce13f53bcb6c6bc51b07b81c8...,22,1998-08-19,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,FC2495,PFIZER,Organization/00394544000851,2021-06-10,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,7810b0fb-564a-4e61-8681-63dea49a4216-i0b0,662900ca7c94e267a5c706b67b3bd5da5c0db065ec1b17...,21,1999-08-12,M,5,INDIGENA,120030.0,10.0,FEIJO,...,7.0,Povos Indígenas,202010028,SINOVAC/BUTANTAN,Organization/61189445000156,2021-02-25,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
2,f0381f88-7ecb-44b9-9bc0-6d4c054d8596-i0b0,7deec698d3c7835966bfaef892d2d189ead8b23729731b...,4,2018-04-23,M,3,PARDA,120005.0,10.0,ASSIS BRASIL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-24,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,782e82b7-98e9-4d32-affc-d75412de4aae-i0b0,30f88c471398826e490b34c2660520596eae522576180d...,22,1999-05-31,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-28,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,9a186533-05f6-46ee-93d8-4daeb8262fde-i0b0,9412047d5b4d42f09929aca6e0103c6461143be9592695...,65,1956-02-12,M,3,PARDA,120060.0,10.0,TARAUACA,...,2.0,Faixa Etária,216VCD203Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-10-08,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [129]:
# 1) Sua solução aqui

df.shape[0]

385635

In [130]:
# 2)
df['paciente_id'].nunique()

315453

In [131]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

142869

In [140]:
# 4)
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

67457

In [141]:
# 5)

df['estabelecimento_razaoSocial'].nunique()

61

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [142]:
# 1)
df_menor = df[df["paciente_idade"]<18].copy()

In [143]:
# 2)
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [144]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      46777
Povos Indígenas                                    4511
Outros                                             3755
Povos e Comunidades Tradicionais                    812
Trabalhadores de Saúde                              249
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [145]:
# 4)
lista_variaveis = ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [146]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(201, 6)